.container {
  width: 100%;
  margin: 0 auto;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);

  @media (min-width: 50rem) {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    max-width: 55rem;
  }
}
