.header {
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
  background-color: var(--color-background-header);

  @media (min-width: 50rem) {
    margin-bottom: var(--space-xl);
  }

  top: 0;
  position: sticky;
}
