<h1>About</h1>
<p>
  Hi I'm Konstantin Greif a software developer from Germany.
  My CV is far from traditional and I found my way to coding via detours.
  Through this blog I want to share my experiences and thoughts as well as fight my
  imposter syndrom.
</p>
<p>
  Professionally I'm working with Ruby on Rails, VueJS, so most of my posts will be about those.
  Other languages I'm intrested in are Lua and Kotlin.
</p>
