<br>
<%= button_to "Edit", edit_post_path(@post), method: :get, class: "primary" %>
<%= button_to "Something", edit_post_path(@post), method: :get, class: "danger" %>
<h1>
  <%= @post.title %>
</h1>
<p>
  <%= markdown(@post.content) %>
</p>
