button {
  display: inline-block;
  padding: var(--space-xxs) var(--space-m);
  border-radius: var(--border-radius);
  background-origin: border-box;
  background-color: transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 200ms, color 100ms;
  border: none;

}
button.primary {
  background-color: var(--color-primary);
  color: var(--color-text-body);

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    background-color: var(--color-primary-hover);
    transition: filter 250ms, color 200ms;
  }
}

button.secondary {
  color: var(--color-primary);
  background-color: var(--color-text-body);
  border: 0.15rem solid var(--color-primary);

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    background-color: var(--color-primary-hover);
    transition: filter 250ms, color 200ms;
  }
}

button.danger {
  color: var(--color-text-body);
  background-color: var(--color-danger);

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    background-color: var(--color-danger-hover);
    transition: filter 250ms, color 200ms;
  }
}
