*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size-l);
  line-height: var(--line-height-body);
  color: var(--color-text-body);
  background-color: var(--color-background);
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  padding-bottom: var(--space-xxl);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  line-height: var(--line-height-headers);
  color: var(--color-text-header);
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1 {
  font-size: var(--font-size-xxxl);
  margin-bottom: 1rem;
}

h2 {
  font-size: var(--font-size-xxl);
  margin-top: var(--space-xxl);
  margin-bottom: var(--space-m);
}

h3 {
  font-size: var(--font-size-xl);
  margin-top: var(--space-l);
  margin-bottom: var(--space-s);
}

h4 {
  font-size: var(--font-size-l);
  margin-top: var(--space-m);
}

a {
  color: var(--color-link);
  text-decoration: none;
  transition: color 100ms;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-link-hover);
  }
}

hr {
  border-top: 1px solid var(--color-border);
  border-bottom: none;
  border-left: none;
  border-right: none;
  height: 1px;
  margin: 2rem 0;
}

span {
  margin-top: 0;
}

.date {
  color: var(--color-text-date);
  font-size: var(--font-size-s);
  font-style: italic;
  margin-bottom: var(--space-s);
}

.highlight {
  padding-left: var(--space-s);
  padding-right: var(--space-s);
  margin-bottom: var(--space-xxl);
  margin-top: var(--space-xxl);
  overflow-x: auto;
  border-radius: 0.5rem;

  /* Firefox scrollbar styling */
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* WebKit scrollbar styling */
.highlight::-webkit-scrollbar {
  background-color: var(--scrollbar-track);
}

.highlight::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}

.highlight::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

code {
  font-size: var(--font-size-m);
  background-color: var(--color-background-lighter);
}
