<header class="header">
  <div class="container">
    <nav>
      <ul>
        <li><%= link_to "Posts", posts_path %></li>
        <li><%= link_to "New Post", new_post_path %></li>
      </ul>
    </nav>
    </div>
</header>
